<div class="container containerB">
    <div class="column">
        <div class="tp-Crd3829 tp-Anr492">
            <div class="OMcards">
                <div class="OMcod822">

                </div>

            </div>
          <div class="OMcont">
            <h1>{{cards[0].cardname}}</h1>
            
            <h2>${{cards[0].getBalance()}}</h2>
            <p>Serial#:{{cards[0].getSerialnumber()}}</p>
<p>9 taps to free</p>
<button>Lock</button><button>Remove</button>
    </div>
        </div>
        
        <div class="tp-thread">
            <h3>Recent acivity</h3>
            <div class="tp-tLine">
        <div class="content"><div class="tp-circle six">6</div>Pass used at 6 train at West farms Square</div>
        
            </div>
            <div class="tp-tLine">
                <div class="content"><div class="tp-circle"></div>Miss swipe at Hunt point on 6 train </div>
                
                    </div>
                    <div class="tp-tLine">
                        <div class="content"><div class="tp-circle two"></div>Pass used at 2 train at 42 street time square </div>
                        
                            </div>
        
        </div>
    </div>

</div>



