<div class="sidebar">
<ul>
    <li>
        <a routerLink="/">
            <svg id="Layer_1" data-name="Layer 1" class="svgIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 22.47 16.97">
                <defs>
                 
                </defs>
                <rect class="wall-2" x=".5" y=".5" width="21.47" height="15.97" rx="2" ry="2"/>
                <rect class="wall-1" x="2.65" y="3.37" width="6.97" height="5.27" rx="2.64" ry="2.64"/>
              </svg>
            
            <span>Wallet</span></a>
    </li>
   
    <li>
        <a routerLink="/">
            <svg id="Layer_1" data-name="Layer 1" class="svgIcon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.81 17.86">
                <defs>
                  
                </defs>
                <path class="wall-1" d="M6.53,16.47l-2.86-3.79-2.86,3.42-.31.37V1.17c0-.37.3-.67.67-.67h11.48c.37,0,.67.3.67.67v15.3l-.68-.72-2.86-3.07-3.24,3.79Z"/>
                <rect class="wall-3" x="2.61" y="2.69" width="8.6" height="1.35" rx=".68" ry=".68"/>
                <rect class="wall-3" x="2.66" y="6.21" width="8.6" height="1.35" rx=".68" ry=".68"/>
                <rect class="wall-3" x="2.61" y="9.42" width="8.6" height="1.35" rx=".68" ry=".68"/>
              </svg>
            
            
            <span>Charges</span></a>
            </li>
            <li>
                <a routerLink="/trips">Trips</a>
                    </li>
</ul>
    
                    <div class="send-container">
                        <div class="send-far228">
                            <div class="sendM">
<button class="send-B228" (click)="askForMoney()">$</button>
                            </div>
                        <div class="sendM" *ngFor="let send of freeRides" [ngClass]="{'send-active':send.activeRequest}">

                            <div class="send-r228" (mouseenter)="isHovered = true" (mousemove)="updateBoxPosition($event)"  (mouseleave)="isHovered = false">
                            <!-- <img class="send-img" src="{{send.requester.getProfileimg()}}"/> -->
                            </div>
                                                </div>
                                            </div>

                    </div>
                    
</div>
<div id="moneyBox" *ngIf="isHovered" class="money-box" >
    The div appears on hover
</div>
